/* general */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body{
    font-family: 'Poppins', sans-serif;
    overflow-x: hidden;
}

section {
  min-height: 100vh;
  position: relative;
}

/* navbar */

.navbar-brand{
  letter-spacing: 2px;
}

.fixed{
  position: fixed;
  background-color: #0d6dfdb2;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1030;
}


/* home page */
.main-btn {
    border-radius: 3px;
    background-color: #0d6efd;
    border-color: #0d6efd;
    color: white;
    padding: 8px 12px;
    border: none;
    outline: none;
  }

  .wave {
    position: absolute;
    bottom: 0;
    z-index: -999;
  }

  .contact-form{
    opacity: 0;
    visibility: hidden;
    position: absolute;
    top: 16%;
    left: 33%;
    z-index: 999;
    border: 3px solid #0d6dfdaf;
    border-radius: 3px;
    padding: 3rem;
  }

  .show-form{
    display: block;
  }

  .close-btn{
    position: absolute;
    top: 3px;
    right: 4px;
  }

/* services */

/* about us */

/* contact */

.contact-wave{
  z-index: -999;
}
